@import "compass";
@include global-reset;

@import "base/theme_kramdown";
@import "base/typography_kramdown";

// Includes
@import "variables";
@import "mixins";

// Plugins
@import "code.scss";
//@import "coderay.scss";
@import "sidr.scss";

//General Stuff
@import "boilerplate.scss";
@import "structure.scss";
@import "theme.scss";
@import "typography.scss";

.foo table{
  font-size:16px;
  text-align:left;
  border-collapse:collapse;
  margin:20px auto;
}

.foo th {
  font-size:18px;
  font-weight:bold;
  color:#DD3000;
  border-bottom: 3px solid #eee;
  padding:12px 15px;
}

.foo td {
  color:#DA3E10;
  border-top:1px solid #eee;
  padding:10px 15px;
}

.foo tr:hover td {
  color:#FFFFFF;
  background:#DA3E10;
}

#dl-menu {
  z-index: 999;
  max-width: 45px;
}

.article-detail h1, .article-detail h2, .article-detail h3,
.article-detail h4, .article-detail h5, .article-detail h6 {
  border-radius: 20px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  //background: -webkit-linear-gradient(left, rgba(184,214,224,1) , rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient(right, rgba(184,214,224,1) , rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient(right, rgba(184,214,224,1) , rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
  //background: linear-gradient(to right, rgba(184,214,224,1) , rgba(255,255,255,0)); /* Standard syntax */
  //background: -webkit-linear-gradient(left, rgba(218,62,16,1) , rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient(right, rgba(218,62,16,1) , rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient(right, rgba(218,62,16,1) , rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
  //background: linear-gradient(to right, rgba(218,62,16,1) , rgba(255,255,255,0)); /* Standard syntax */

  background: -webkit-linear-gradient(left, rgba(123,191,234,1) , rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(123,191,234,1) , rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(123,191,234,1) , rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(123,191,234,1) , rgba(255,255,255,0)); /* Standard syntax */

  color: white;
}

.article-detail h1 {
  width: 100%;
  margin-left: -20px;
}

.article-detail h2 {
  width: 85%;
  margin-left: -10px;
}

.article-detail h3 {
  width: 60%;
}

.article-detail h4 {
  width: 40%;
}

.article-detail h5 {
  width: 30%;
}

.article-detail h6 {
  width: 30%;
}

.article-detail img {
  //border: 5px solid #EEEEEE;
  border-radius: 10px;
}

#gotop{
  display:block;
  width:60px;
  height:60px;
  position:fixed;
  bottom:50px;
  right:40px;
  border-radius:10px 10px 10px 10px;
  text-decoration:none;
  display:none;
  background-color:#999999;
}

#gotop span{
  display:block;
  width:60px;
  color:#dddddd;
}
#gotop span:hover{
  color:#cccccc;
}
#gotop span{
  font-size:40px;
  text-align:center;
  margin-top:4px;
}

#float-index {
  display:block;
  width:250px;
  position:fixed;
  bottom:40px;
  right:150px;
  border-radius:10px 10px 10px 10px;
  text-decoration:none;
  display:none;
  border-radius: 10px;
  //border: 2px solid rgba(234,62,10,1);
  border: 2px solid rgba(185, 185, 185, 0.5);
  background-color: rgba(185, 185, 185, 0.5);
}

#float-index #markdown-toc {
  margin-top: 10px;
  margin-left: 30px;
}

body {
  background-image: url("/images/homeback.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main aside {
  background-color: rgba(185, 185, 185, 0.5);
  padding: 20px 15px 15px 15px;
  border-radius: 20px;
}

#ds-recent-comments li.ds-comment {
  border-top: 0px;
}

.imgcenter, .imgright, .imgleft {
  -moz-box-shadow: 3px 3px 15px #777;
  -webkit-box-shadow: 3px 3px 15px #777;
  box-shadow: 3px 3px 15px #777;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=135, Color='#808080)";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=15, Direction=135, Color='#808080');
}

.imgcenter-no-shadow, .imgcenter-no-shadow, .imgcenter-no-shadow {
  background: none;
}

.post-footer{
  margin-top:10px;
  text-align: center;
  line-height: 1.8;
  padding:5px;
  background:none repeat scroll 0pt 0pt #eee;
  font-size:90%;
  color: #999;
  border-radius: 8px;
}