---
layout: default
---

<!-- layouts/page.html -->
<!-- 不带内容 -->
<div>
<article role="article" style="background-color: rgba(255, 255, 255, 0.3); padding: 25px 25px 25px 25px; border-radius: 20px;">
  {% if page.title %}
  <header>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
  </header>
  {% endif %}
  {{ content }}

  {% if site.disqus_short_name and page.comments == true %}
    <section>
      <!--h3>Comments</h3-->
      <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
    </section>
  {% endif %}
</article>
</div>