/*
Syntax error: Undefined variable: "$type-border".
        on line 1 of _typography_kramdown.scss

1: $blockquote: $type-border !default;
2: $sans: "PT Sans", "Helvetica Neue", Arial, sans-serif !default;
3: $serif: "PT Serif", Georgia, Times, "Times New Roman", serif !default;
4: $mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
5: $heading-font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif !default;
6: $header-title-font-family: $heading-font-family !default;

Backtrace:
_typography_kramdown.scss:1
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/script/variable.rb:49:in `_perform'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/script/node.rb:40:in `perform'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:327:in `visit_variable'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/exec.rb:443:in `watch_or_update'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.19/bin/scss:13:in `<top (required)>'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/bin/scss:23:in `load'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/bin/scss:23:in `<main>'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/bin/ruby_executable_hooks:15:in `eval'
/Users/frank/.rvm/gems/ruby-1.8.7-p374/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$type-border\".\A         on line 1 of _typography_kramdown.scss\A \A 1: $blockquote: $type-border !default;\A 2: $sans: \"PT Sans\", \"Helvetica Neue\", Arial, sans-serif !default;\A 3: $serif: \"PT Serif\", Georgia, Times, \"Times New Roman\", serif !default;\A 4: $mono: Menlo, Monaco, \"Andale Mono\", \"lucida console\", \"Courier New\", monospace !default;\A 5: $heading-font-family: \"PT Serif\", \"Georgia\", \"Helvetica Neue\", Arial, sans-serif !default;\A 6: $header-title-font-family: $heading-font-family !default;"; }
