/*
Syntax error: Invalid CSS after "  margin": expected ";", was ": auto;"
        on line 220 of /Users/frank/git/octopress/sass/styles.scss

Backtrace:
/Users/frank/git/octopress/sass/styles.scss:220
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:1147:in `expected'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:1085:in `expected'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:1080:in `tok!'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:586:in `block in declaration_or_ruleset'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:1123:in `call'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:1123:in `rethrow'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:554:in `block_child'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:535:in `block'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:553:in `block_child'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/scss/parser.rb:27:in `parse'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/engine.rb:342:in `_to_tree'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/compiler.rb:126:in `timed'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/compiler.rb:138:in `block in compile'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/logger.rb:45:in `red'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/compiler.rb:137:in `compile'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/compiler.rb:101:in `each'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/compiler.rb:101:in `block in run'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/compiler.rb:126:in `timed'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/compiler.rb:100:in `run'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/commands/update_project.rb:45:in `perform'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/commands/base.rb:18:in `execute'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/commands/project_base.rb:19:in `execute'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/bin/compass:30:in `block in <top (required)>'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/bin/compass:44:in `call'
/Users/frank/.rvm/gems/ruby-2.2.0@global/gems/compass-0.12.7/bin/compass:44:in `<top (required)>'
/Users/frank/.rvm/rubies/ruby-2.2.0/bin/compass:23:in `load'
/Users/frank/.rvm/rubies/ruby-2.2.0/bin/compass:23:in `<main>'
/Users/frank/.rvm/gems/ruby-2.2.0@global/bin/ruby_executable_hooks:15:in `eval'
/Users/frank/.rvm/gems/ruby-2.2.0@global/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  margin\": expected \";\", was \": auto;\"\A         on line 220 of /Users/frank/git/octopress/sass/styles.scss"; }
