<!-- article.html -->
<!-- 文章展示，区分在索引页和文章页 -->
<header>
  <div class="article-tags">
      {% include post/categories.html %}
  </div>
  {% if index %}
    <h1><a href="{{ root_url }}{{ post.url }}">
      {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
    </a></h1>
  {% else %}
    <h1>
      {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
    </h1>
  {% endif %}
  <!-- 给出发布时间 -->
  <div class="article-date">
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}</div>
</header>
<hr />
<!-- 如果在索引中 -->
{% if index %}
  <section class="article-index">{{ content | extract_excerpt }}</section>
  <a href="{{ root_url }}{{ post.url }}">继续阅读</a>&nbsp;&nbsp;&nbsp;&nbsp;
{% else %}
  <!-- 直接展示出内容 -->
  <section class="article-detail" style="margin-bottom: 20px;">{{ content }}</section>
{% endif %}

{% include post/tags.html %}
