<!-- article.html -->
<!-- 文章展示，区分在索引页和文章页 -->
<header>
  <div class="article-tags">
      {% include post/categories.html %}
  </div>
  {% if index %}
    <h1><a href="{{ root_url }}{{ post.url }}">
      {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
    </a></h1>
  {% else %}
    <h1>
      {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
    </h1>
  {% endif %}
  <!-- 给出发布时间 -->
  <div class="article-date">
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}</div>
</header>
<hr />
<!-- 如果在索引中 -->
{% if index %}
  <section class="article-index">{{ content | extract_excerpt }}</section>
  <a href="{{ root_url }}{{ post.url }}">继续阅读</a>&nbsp;&nbsp;&nbsp;&nbsp;
{% include post/tags.html %}
{% else %}
  <!-- 直接展示出内容 -->
  <section class="article-detail" style="margin-bottom: 20px;">{{ content }}</section>

{% include post/tags.html %}
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style" style="margin-top: 40px;">
    <span class="jiathis_txt">分享到：</span>
    <a class="jiathis_button_tsina">新浪微博</a>
    <a class="jiathis_button_tqq">腾讯微博</a>
    <a class="jiathis_button_renren">人人网</a>
    <a class="jiathis_button_weixin">微信</a>
    <a class="jiathis_button_douban">豆瓣</a>
    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
    <a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1406956593484740" charset="utf-8"></script>
<!-- JiaThis Button END -->
        <div style="height: 40px;"></div>

{% endif %}
