<script src="{{ root_url }}/javascripts/jquery.dlmenu.js"></script>
<script type="text/javascript">
    $(function() {
        $('#dl-menu').dlmenu();
    });

    function onLoadSet() {
        if ($(".imgleft")) {
            $(".imgleft").parent().css("text-align", "left");
        }
        if ($(".imgright")) {
            $(".imgright").parent().css("text-align", "right");
        }
        if ($(".imgcenter")) {
            $(".imgcenter").parent().css("text-align", "center");
        }
        if ($(".ds-comment")) {
            $(".ds-comment").css("border-top", "0px");

        }
    }
</script>