---
layout: default2
exclude_from_search: true
description: 小小90后程序员，清本清硕，爱祖国爱人民，爱阅读爱编程。机器学习、大数据处理是工作方向，关注个人效率提升等话题。本博客是为开拓个人知识分享渠道而开，也有助于加速知识积累的内化，欢迎拍砖捧场。
keywords: 清华大学, 自动化系, 机器学习, 效率, 阅读, 编程, 正能量
---

<!-- index.html -->
{% assign index = true %}

{% if paginator.previous_page %}
<article style="background-color: rgba(255, 255, 255, 0.3); padding: 8px 25px 8px 25px; border-radius: 5px; text-align: center;">
    <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
</article>
{% else %}
<article class="wx-entrance" style="background-color: rgba(255, 255, 255, 0.3); padding: 8px 25px 8px 25px; border-radius: 5px; text-align: center; display: none;">
    <a class="next" href="http://frank19900731.github.io/wx/archives/">移动阅读入口，阅读体验更佳</a>
</article>
{% endif %}

{% for post in paginator.posts %}
{% assign content = post.content %}
<article style="background-color: rgba(255, 255, 255, 0.3); padding: 25px 25px 25px 25px; border-radius: 20px;">
	{% include article.html %}
</article>
{% endfor %}

{% if paginator.next_page %}
<article style="background-color: rgba(255, 255, 255, 0.3); padding: 8px 25px 8px 25px; border-radius: 5px; text-align: center;">
    <a class="prev" href="{{paginator.next_page}}">&larr; Older</a>
</article>
{% endif %}